<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.three.minutes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ThreeApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".notice.ui.NoticeActivity" android:exported="true"/>
        <activity
            android:name=".login.ui.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".home.ui.GuideActivity"
            android:exported="true" />
        <activity
            android:name=".preferences.ui.PreferencesActivity"
            android:exported="true" />
        <activity android:name=".profile.ui.OtherProfileActivity" />
        <activity android:name=".writing.ui.WritingEditActivity" />

        <service
            android:name=".server.SangleMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".badge.ui.BadgeActivity"
            android:exported="true" />
        <activity
            android:name=".detail.ui.DetailMyActivity"
            android:exported="true" />
        <activity
            android:name=".detail.ui.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".mypage.ui.MyPageActivity"
            android:exported="true" />
        <activity
            android:name=".word.ui.WordActivity"
            android:exported="true" />
        <activity
            android:name=".profile.ui.ProfileChangeActivity"
            android:exported="true" />
        <activity
            android:name=".writing.ui.WritingResultActivity"
            android:exported="true" />
        <activity
            android:name=".writing.ui.WritingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".writing.ui.WritingReadyActivity"
            android:exported="true" />
        <activity
            android:name=".login.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".home.ui.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".signup.ui.ClausActivity"
            android:exported="true" />
        <activity
            android:name=".signup.ui.SignupActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".login.ui.SplashActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>